
//color

  //mono
  $black:           #33292F;
  $dark-gray:       #6D646A;
  $gray:            #998D95;
  $light-gray:      #BCB7BB;
  $back-gray:       #ECEBEB;
  $back-light-gray: #F5F5F5;
  $white:           #fff;

  //theme
  $theme-pink:      #EA4480;
  $theme-sky:       #7CD6E0;
  $theme-yellow:    #EAD963;

  //sub
  $sub-light-sky:          #B0E6EC;
  $sub-light-yellow:       #F2E8A1;

  //layer color palette
    $palette-light-pink:   #FF99BB;
    $palette-pink:         $theme-pink;
    $palette-red:          #CC2743;
    $pallete-light-orange: #F2CA99;
    $palette-orange:       #E89E46;
    $palette-dark-orange:  #D36426;
    $pallete-light-yellow: $sub-light-yellow;
    $pallete-yellow:       $theme-yellow;
    $pallete-dark-yellow:  #B79C2A;
    $pallete-light-green:  #C2E576;
    $pallete-green:        #80B769;
    $pallete-blue-green:   #229376;
    $pallete-light-sky:    $sub-light-sky;
    $pallete-sky:          $theme-sky;
    $pallete-cyan:         #19A1AF;
    $pallete-light-purple: #B96EE5;
    $pallete-purple:       #7C43D6;
    $pallete-dark-blue:    #225593;
    $pallete-light-gray:   $back-gray;
    $pallete-gray:         $dark-gray;
    $pallete-black:        $black;
    $layer-google:         $light-gray; //google map layer color

  //text
  $text-black:  $black;
  $text-main:   $dark-gray;
  $text-light:  $gray;
  $link-text:   #219BD8;

  //sns
  $official-twitter: #55acee;
  $official-facebook: #455a9e;


//font-family
  $primary-font: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  $rounded-font: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

  @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');
  $noto-font: "Noto Sans JP", "Noto Sans CJK JP", 'Noto Sans', "Noto";


//animation-bezier
  $bezier-fast-ease-out: cubic-bezier(.1,0,0,1) ;
  $bezier-fast-ease-in: cubic-bezier(0,.1,1,0);
  $bezier-fast-ease-in-out: cubic-bezier(.77,0,.23,1);

  $bezier-ease-out: cubic-bezier(.06,.67,.02,1);
