@import "~/assets/styles/variables.scss";
.light-pink {
  .layer_cls-1 {
    fill: $palette-light-pink;
  }
}
.pink {
  .layer_cls-1 {
    fill: $palette-pink;
  }
}
.red {
  .layer_cls-1 {
    fill: $palette-red;
  }
}
.light-orange {
  .layer_cls-1 {
    fill: $palette-light-orange;
  }
}
.orange {
  .layer_cls-1 {
    fill: $palette-orange;
  }
}
.dark-orange {
  .layer_cls-1 {
    fill: $palette-dark-orange;
  }
}
.light-yellow {
  .layer_cls-1 {
    fill: $palette-light-yellow;
  }
}
.yellow {
  .layer_cls-1 {
    fill: $palette-yellow;
  }
}
.dark-yellow {
  .layer_cls-1 {
    fill: $palette-dark-yellow;
  }
}
.light-green {
  .layer_cls-1 {
    fill: $palette-light-green;
  }
}
.green {
  .layer_cls-1 {
    fill: $palette-green;
  }
}
.blue-green {
  .layer_cls-1 {
    fill: $palette-blue-green;
  }
}
.light-sky {
  .layer_cls-1 {
    fill: $palette-light-sky;
  }
}
.sky {
  .layer_cls-1 {
    fill: $palette-sky;
  }
}
.cyan {
  .layer_cls-1 {
    fill: $palette-cyan;
  }
}
.light-purple {
  .layer_cls-1 {
    fill: $palette-light-purple;
  }
}
.purple {
  .layer_cls-1 {
    fill: $palette-purple;
  }
}
.dark-blue {
  .layer_cls-1 {
    fill: $palette-dark-blue;
  }
}
.light-gray {
  .layer_cls-1 {
    fill: $palette-light-gray;
  }
}
.gray {
  .layer_cls-1 {
    fill: $palette-gray;
  }
}
.black {
  .layer_cls-1 {
    fill: $palette-black;
  }
}