.info_data {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2px 0;
}
.info_data__icon {
  width: 22px;
  height: 22px;
  flex-grow: 0;
  flex-shrink: 0;
}
.info_data__main {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  flex-grow: auto;
  padding-left: 8px;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.info_data__right {
  flex-grow: 0;
  flex-shrink: 0;
  @include noto-font(1.6rem);
  &--strong {
    font-weight: bold;
  }
}

.info_data__main__name {
  display: inline;
  @include noto-font(1.6rem);
  margin-right: 8px;
  flex-grow: 0;
  flex-shrink: 0;
}

.number_info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.number_info__one {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 12px;
  align-items: center;
}
.number_info__one__count {
  @include noto-font(1.7rem);
  padding-left: 4px;
  padding-right: 8px;
}