
@import "~assets/styles/variables.scss";
@import "~assets/styles/mixin.scss";

/* The input */
.tags-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tags-input input {
  flex: 1;
  background: transparent;
  border: none;
}

.tags-input input:focus {
  outline: none;
}

.tags-input input[type="text"] {
  color: $dark-gray;
}

.tags-input-wrapper-default {
  padding: .5rem .25rem;
  background: $back-gray;
  border: 2px solid $gray;
}

/* The tag badges & the remove icon */
.tags-input-badge span {
  margin-right: 1px;
}

.tags-input-remove {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
}

.tags-input-remove:before, .tags-input-remove:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: $palette-green;
  height: 2px;
  margin-top: -1px;
}

.tags-input-remove:before {
  transform: rotate(45deg);
}
.tags-input-remove:after {
  transform: rotate(-45deg);
}

/* Tag badge styles */
.tags-input-badge {
  display: inline-block;
  padding: 1px 8px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background: $white;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 8px;
  @include noto-font(1.4rem);
}

.tags-input-badge-pill {
  // padding-right: 0.6em;
  // padding-left: 0.6em;
  // border-radius: 10rem;
}

.tags-input-badge-selected-default {
  color: $text-main;
  background-color: $white;
}

/* Typeahead */
.typeahead-hide-btn {
  color: $text-light !important;
}

/* Typeahead - badges */
.typeahead-badges > span {
  cursor: pointer;
  margin-right: 0.3rem;
}

/* Typeahead - dropdown */
.typeahead-dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
  border: 2px solid $gray;
  border-top: none;
}

.typeahead-dropdown li {
  padding: .25rem 1rem;
  cursor: pointer;
}

/* Typeahead elements style/theme */
.tags-input-typeahead-item-default {
  color: $text-main;
  background-color: $white;
}

.tags-input-typeahead-item-highlighted-default {
  color: $white;
  background-color: $theme-pink;
}
